footer.AppFooter {
  min-height: 200px;
  background-color: var(--global-color-letra-k-rgba2);
  width: 100%;

  // box-shadow: 0 3px 6px var  (--global-color-one-rgba3);

  // display: flex;
  // justify-content: flex-end;
  // align-items: center;

  // position: fixed;
  // left: 0;
  // bottom: 0;
  // padding: 10px;

  color: var(--global-color-three);

  .left {
    text-align: left;
  }

  .center {
    text-align: center;
  }

  .right {
    text-align: right;
  }

  div {
    padding: 3px;

    a {
      padding-right: 30px;
      color: var(--global-color-three);
      text-decoration-line: none;
    }
    a:hover {
      color: var(--global-color-two);
    }
}
}
