div.AppHomeSite {
  font-family: "Teko", sans-serif;
  margin: 10px;
  background-color: var(--global-color-five);
  border-radius: 5px;
  box-shadow: 0 3px 6px var(--global-color-two-rgba1);
  padding: 20px;

  p {
    text-align: justify;
  }
}
